<header class="w-full py-2 sm:py-3 transition-colors duration-300 z-10 bg-palette-fill shadow-sm">
    <nav class="max-w-[95rem] mx-auto px-2 sm:px-4 flex items-center justify-between">
        <!-- Logo -->
        <a class="flex items-center focus:outline-none focus:opacity-80 transition-opacity duration-300 rounded-xl p-1 dark:bg-[#b1bbce]"
            routerLink="/" aria-label="Brand">
            <img class="h-8 sm:h-10" src="../../../../assets/logo.png" alt="Logo">
        </a>

        <!-- Desktop Navigation -->
        <div class="hidden md:flex items-center justify-center flex-grow">
            <ng-container *ngFor="let item of navItems">
                <a class="px-2 lg:px-4 py-2 font-medium text-sm lg:text-base text-palette-base  hover:text-palette-primary focus:outline-none transition-colors duration-300"
                    routerLink={{item.link}} routerLinkActive="text-palette-primary">
                    {{ item.name }}
                </a>
            </ng-container>
        </div>

        <!-- Dark Mode Toggle and Mobile Menu Button -->
        <div class="flex items-center">
            <button (click)="toggleDarkMode()"
                class="p-2 rounded-full focus:outline-none focus:ring-2 focus:ring-offset-2 transition-colors duration-300 text-palette-base hover:text-palette-primary"
                [ngClass]="{'focus:ring-palette-primary': true}">
                <svg *ngIf="!isDarkMode" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z" />
                </svg>
                <svg *ngIf="isDarkMode" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 sm:h-6 sm:w-6" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
            </button>

            <!-- Mobile menu toggle -->
            <button (click)="toggleMenu()"
                class="md:hidden ml-2 p-2 rounded-lg focus:outline-none focus:ring-2 focus:ring-offset-2 transition-all duration-300 text-palette-base hover:text-palette-primary"
                [ngClass]="{'focus:ring-palette-primary': true}" aria-expanded="false" aria-controls="menuContent"
                aria-label="Toggle navigation">
                <svg *ngIf="!isMenuOpen" class="h-5 w-5 pointer-events-none " xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
                <svg *ngIf="isMenuOpen" class="h-5 w-5 pointer-events:none " xmlns="http://www.w3.org/2000/svg"
                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
    </nav>

    <!-- Mobile Menu Content -->

    <div id="menuContent" class="sm:hidden w-full transition-all duration-300 ease-in-out bg-palette-fill " [ngClass]="{
             'max-h-screen opacity-100': isMenuOpen,
             'max-h-0 hidden': !isMenuOpen,
         }">
        <div class="flex flex-col py-2 px-4">
            <ng-container *ngFor="let item of navItems">
                <a class="py-2 font-medium text-sm text-palette-base hover:text-palette-primary focus:outline-none focus:text-palette-primary transition-colors duration-300"
                    routerLink={{item.link}} routerLinkActive="text-palette-primary">
                    {{ item.name }}
                </a>
            </ng-container>
        </div>
    </div>
</header>