<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
        src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>

<body>
    <div class=" flex items-center justify-center  ">
        <div class="h-72 bg-gray-500 rounded-lg w-60 m-10 flex  flex-col items-center justify-center  ">
            <div>
                <img class="hover:scale-110 transition-all duration-200"
                    src="../../../../assets/feature-carousel-images/product_7.png" alt="">
            </div>

            <div>
                <h1 class="mb-2 text-lg text-gray-200 ">cake with cherry</h1>
            </div>
        </div>
    </div>
</body>

</html>