<div class="w-full bg-[#4DB9CB] mx-auto my-8 grid grid-cols-12 rounded-md h-64 sm:h-72 lg:h-80">
    <div
        class="col-span-6 sm:col-span-4 lg:col-span-2  h-full flex flex-col  text-center items-center justify-around text-sm  sm:text-lg font-semibold   bg-[url('assets/carouselBox/offersbg.webp')]  bg-cover bg-no-repeat bg-center rounded-md backdrop-blur-md ">
        <h1 class=" text-palette-primary">Featured Products</h1>
        <h1 class="border  bg-palette-fill opacity-75 px-3 py-1 rounded-md text-palette-primary">
            See All
        </h1>
    </div>
    <div class="col-span-6 sm:col-span-8 lg:col-span-10 -full  ">

    </div>
</div>